# ignore files with no extension (such as binary-exe file) 
*
!*/
!*.*

.vscode
.DS_Store
tmp.py
*.code-workspace
solution.md
tmp.cpp
a.out
tempCodeRunnerFile.*
tmp.rs

# ACL
atcoder/ 
combined.py

paiza*

2HC2020/
playground/

*dsYM/

target/

Cargo.lock